{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Registro</title>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css ' %}">
</head>

<body class="body_cliente">
    <form action="" class="form-registro" method="POST">
        <h4>Formulario de registro</h4>

        {% csrf_token %}
        {{ form|crispy }}




        <input class="btn btn-primary" style="cursor: pointer;" type="submit" value="Registrar">
    </form>
    {{ mensaje }}


    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
</body>

</html>